<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptas ad nostrum quia quidem quisquam delectus minima laboriosam unde deleniti rerum distinctio? A, quibusdam quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptas ad nostrum quia quidem quisquam delectus minima laboriosam unde deleniti rerum distinctio? A, quibusdam quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptas ad nostrum quia quidem quisquam delectus minima laboriosam unde deleniti rerum distinctio? A, quibusdam quasi!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>